*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

:root
{
    --colour-darkest: #4DBDA5;
    --colour-dark: #06CCA2;
    --colour-mid: #06CCA2;
    --colour-light: #dfdfdf;
}

:focus {
    outline: 3px solid brown;   
}

header {
    background: var(--colour-dark);
    color: black;
    text-align: center;
    width: 100%;
}

h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 60px;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

main {
    background: linear-gradient(white, #C0F3E7);
    height: 100%;
    width: 100%;
}

.game-info{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    text-align: center;
}

.grid-box{
    background: var(--colour-darkest);
    border: 1px solid var(--colour-darkest);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    margin: auto;
    padding: 5px;
    perspective: 1000px;
    width: 640px;
    justify-content: center;
}

.card{
    
    height:calc(33.3% - 4px);
    position: relative;
    width:calc(25% - 4px);
    margin: 2px;
    transform-style: preserve-3d; 
    transition: transform 0.3s;
}

.front-face,
.back-face{
    border:2px solid white;
    border-radius: 5px;
    height: 100%;
    width:100%;
    position: absolute;
    backface-visibility: hidden; 
}

.card:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.card.flip{
    transform: rotateY(180deg);
}

.front-face{
    transform: rotateY(180deg);
}

.overlay-text {
    background-color: white;
    border: 15px solid var(--colour-mid);
    border-radius: 30px;
    color: var(--colour-dark);
    display: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 5s forwards;
}

.name-input-box{
    background-color: white;
    border: 5px solid var(--colour-mid);
    border-radius: 10px;
    padding: 10px;
}

.enter-name{
    font-size: 30px;
    color: #49C972;
}

.enter-button:hover {
    cursor: pointer;
    background-color:#4095c6;
}

.leaderboard-page{
    background-color: var(--colour-dark);
    border: 3px solid white;
    border-radius: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 60px;
    padding: 12px;
    text-align: center;
    width: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: -920px;
}

.leaderboard-link{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.leaderboard-link:hover{ 
    color: white;
}

footer{
    background: var(--colour-light);
    font-family: 'Montserrat', sans-serif;
    padding: 100px;
    text-align: center;
}

.footer{
    color: black;
}

.link{
    color: black;
}

.link:hover{ 
    color: var(--colour-darkest);
}